################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmazonSimulator VS/.vs/AmazonSimulator VS/v15/Server/sqlite3/db.lock
